<%- include ../layout/header.ejs %>
<!-- Заголовок сторінки -->
<div class="container">
  <div class="page-header">
    <h2>Список зявок</h2>
  </div>
</div>
<div class="container">
  <a type="button" class="btn btn-primary btm-add" href="orders/create">Додати заявку</a>
  <!-- Таблиця списку заявок -->
  <table class="table">
    <thead>
      <tr>
        <th>Користувач</th>
        <th>Тип</th>
        <th>Вміст</th>
        <th>Дата створення</th>
        <th>Дата виконання</th>
        <th width="80px">Операції</th>
      </tr>
    </thead>
    <tbody id="dataTable">
      <!-- Генеруємо список заявок зі змінної data -->
      <% if (data.length) {
        for (var i = 0; i < data.length; i++) { %>
          <tr>
            <td><%=data[i].first_name%></td>
            <td><%=data[i].title%></td>
            <td><%=data[i].content%></td>
            <td><%=data[i].create_time%></td>
            <td><%=data[i].complete_time%></td>
            <td>
              <a class="btn btn-primary btn-sm" href="orders/edit/<%=data[i].id_order%>"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
              <a class="btn btn-danger btn-sm" href="orders/delete/<%=data[i].id_order%>"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
            </td>
          </tr>
        <% }
        } else { %>
          <!-- Якщо заявок немає... -->
          <tr>
            <td colspan="6">Немає заявок</td>
          </tr>
        <% } %>
    </tbody>
  </table>
</div>
<%- include ../layout/footer.ejs %>
